/*!
 * deals.css (Frontend Template)

HEADER.above
#header
  #logo
.body-container
  HEADER.below
  #breadcrumbs
  NAV#nav
  .content-container
    #nav-below
      .below .count-1 - .count-6			[#nav-below-1 - #nav-below-6]
    #content .load-first
      .content-main
        .content-above
           .above .count-1 - .count-6		[#content-above-1 - #content-above-6]
        [message]
        [component]
        .content-below
          .below .count-1 - .count-6		[#content-below-1 - #content-below-6]
        .column-group .group-alpha
    .column-group .group-beta
    .footer-above
      .above .count-1 - .count-6			[#footer-above-1 - #footer-above-6]

FOOTER#footer
  .syndicate

 */
body {min-width:960px}

/* template param override (#body-container,#header-above 100%) */
@media screen and (max-width:1039px) 						{ body #body-container, body #header-above {max-width:980px} }
@media screen and (min-width:1040px) and (max-width:1159px) { body #body-container, body #header-above {max-width:94%} }
@media screen and (min-width:1150px) and (max-width:1279px) { body #body-container, body #header-above {max-width:90%} }
@media screen and (min-width:1280px)						{ body #body-container, body #header-above {max-width:1150px} }

#nav	{position:absolute; margin-top:-3em;}
.content-container { margin-top:1em }

#logo   {font-size:60px;height:100px;font-family:'Unna',Georgia,serif;}
#logo   ,
#logo a {float:none;margin:0 auto;text-align:center;line-height:1;text-rendering: optimizelegibility;}
#logo a {height:auto;font-size:1em;width:auto}

#to-page-top	{position:absolute;right:10px;text-align:right;}
#diagnostics	{position:absolute;right:10px;top:20px;max-width:90px}
#diagnostics li	{padding:0;margin:0;line-height: 1}

h1,h2,h3,h4,h5,h6 {line-height:normal;text-rendering: optimizelegibility;}

ol:first-child,
ul:first-child {margin-top:0}

/* =column layout */
#body-container	,
header.above	,
header.below	{margin:0 auto;}

.content-main {}

.main-only .load-first		{}
.alpha-main	.load-first		{width:80%; float:left;}
.main-beta .load-first 		{width:80%; float:left;}
.main-beta .page-foot 		{width:80%;}
.alpha-main-beta .load-first{width:60%; float:left;}
.alpha-main-beta .page-foot {width:60%;}

.alpha-main .group-alpha	{width:20%; float:right;}
.main-beta .group-beta		{width:20%; float:right;}

.alpha-main-beta .group-alpha	{width:20%; float:right; }
.alpha-main-beta .group-beta	{width:20%; }

/*
 * =columns context
 */
.column-group .mod		{margin-top:0}
.column-group .moduletable {padding:5px;}
.column-group fieldset	{padding:5px;}
.column-group .inner	{padding:5px;}
.column-group h3		{margin:0; padding:0;}

/* =deal otd */
div.deal {position:relative;margin:10px;}

.deal header 	{font-size: 100%;}
.deal header h1,
.deal header h2, header .H2,
.deal header h3, header .H3 {text-align:center; font-family:'Unna',Georgia,serif;}
.deal .dotd		{font-size:2.6em; padding:.5ex .2ex}

.merchant-info		{text-align:center;}
.merchant-info b	{}
 .merchant-name		{}
 .merchant-logo		{}

.coupon 			{}
.coupon header		{}
.coupon header h2, header .H2 {font-size:2.4em;line-height:normal;}
.coupon header h3, header .H3 {font-size:2.0em;line-height:normal;}

.coupon article		{}

/* price */
.the-deal 	{text-align: center;}
.the-deal p	{width:100%; font-weight:bold; font-size:2em; }
 .discount	{}
 .savings	{}
 .buy-now	{}

.the-deal		{margin-top: 10px;}
.deal-summary 	{margin-top: 10px;}
.deal-details 	{margin-top: 10px;}

.discount span		{}
 .discount .deal 	{font-size:2em; padding-right:1ex;}
 .discount .price 	{font-size:1.4em; text-decoration:line-through;}

.savings span	{}
 .savings .perc	{}
 .savings .abs	{}

/* 'buzzer' */
.buy-now		{}
.buy-now img	{}
.payments		{}
.payments img	{}

/* countdown timer */
div.countdown 		{font-weight:normal;}
#tmr {width:240px; height:auto; position:relative; margin:5px auto 10px;}
.countdown_row		{}
.countdown_amount	{font-weight:bold; font-size:1.6em; line-height:normal;}

/* dotd summary */
.deal-summary	{}
  .highlights	{margin-right:0;}
  .media		{}
  .cond			{margin-left:0;}

.deal-summary .inner	{}
.deal-summary .hd		{}
.deal-summary .bd		{}

.media img				{}
.media img:first-child	{}
.media img:last-child	{}
.media img:only-child	{}

.cond ol	,
.cond ul	{margin-top:0; padding-left:.5ex;}

/* payment options */
.payment_options	{}
.payment 			{/* height:150px;*/ min-height:150px;outline:1px solid #888;}
.payment .inner		{padding:10px;text-align:center;}

.payments1 			{width:250px;margin:0 auto}

/* coupon previz (post deal) */
.coupon-code			{border:1px solid #888; width:720px;}
.coupon-code h2,
.coupon-code h3,
.coupon-code h4			{margin-top:0; max-width:74%; }
.coupon-code .inner		{margin: 5px 10px}
.coupon-code .hd		{border-bottom:1px solid #888}
.coupon-code .bd		{width:74%; float:left; }
.coupon-code .ft		{width:24%; float:left; font-size:90%;}
.coupon-code img.qrcode {}
.coupon-code .bd p		{padding-right:1em}
.coupon-code .ft p		{padding-left:1em}
.coupon-code .price			{font-size:1.6em; font-weight:bold}
.coupon-code .description	{}
.coupon-code .codes	{}
.coupon-code code 	{font-weight:bold}

/*
 * =contents
 */
.item-page		{ margin:10px 20px; min-height:30em; }

.item-page h1, .item-page .H1 {}
.item-page h2, .item-page .H2 {}
.item-page h3, .item-page .H3 {margin-top:1.5em; color:rgb(0,119,119);}
.item-page h4, .item-page .H4 {margin-top:1.2em; color:rgb(0,119,119);}

.page-toc	{float:right; width:40%;}
#aii		{margin-top:0}
.item-page h3:target {color: rgb(255,56,0);}

/*
 * =modules
 */
.mod-login ul	{margin-left:10px;padding-left:.7em}
.mod-banner		{}
.banneritem img {display:block;margin-left:auto;margin-right:auto;text-align:center;}

.mod .je-header {font:1.4em 'Unna',Georgia,serif;}

/*
 * =menus
 */
.usermenu li	{padding:.4ex 2px .4ex 1ex}

.hmenu a.mi		{padding: 0 1ex;}
.hmenu li.active 		{margin-left:1ex; margin-right:1ex;}
.hmenu li.mi:first-child{margin-left:0;}

.mainmenu a.mi      {text-decoration: none;}
.mainmenu li.mi     {padding-top:.5ex; padding-bottom:.6ex;}
.mainmenu li.active {font-weight:bolder; padding-bottom:3ex; }

.legalsmenu			,
.legalsmenu .hmenu	{text-align:center; margin:5px auto;}
.legalsmenu li.mi	{display:inline; padding:.4ex 2px .4px 1ex}

/*
 * =color scheme, borders, eye-candy; and not
 */
/* #FF3800 rgb(255,56,0) orange */
html, body			{background-color: rgb(255,56,0);}
h1,h2,h3,h4,h5,h6,
.H1,.H2,.H3,.H4		{color: rgb(255,56,0)}

/* #73CDCD rgb(115,205,205) turqouise
   #009393 rgb(0,147,147)   teal bg   
   #007777 rgb(0,119,119)   teal txt     
 */
.page-head		{background-color: rgb(0,147,147); color: #FFF;}

/* #5A0F0F rgb(90,15,15) bordeaux */

/* #FCFAE4 rgba(252,250,228) creme */
.deal header 		{ background-color:rgba(250,250,230, .65);}
.column-group .mod  { background-color:rgba(250,250,230, .65);}

/* whites + grays */
#logo, #logo a			{color: #fff; text-shadow: 0 0 2px #333;}

.mainmenu					{color: #fff;}
.mainmenu .active			{color: rgb(255,56,0); background: #FFF; text-shadow:none;}
.mainmenu .active a:hover	{color: rgb(0,147,147);}

.content-main	{background-color: #FEFEFE;border: 1px solid #EEEEEE;}

.the-deal		{ border: 1px solid #DDD;}
.deal-details 	{ border: 2px solid #DDD; border-width: 2px 0; }
.column-group .inner {background-color:#fff;}

/* the not-corners */
.content-main	{border-radius: 9px;}
.home .content-main	{border-radius: 0 9px 9px 9px;}

.the-deal		,
.deal header	{border-radius: 7px;}

.column-group fieldset {border:none}
.group-alpha .mod	,
.group-beta .mod  	{border-radius: 5px}

li.active {border-radius: 5px 5px 0 0;}

/*
 * =CSS3 fx classes
 */

/* =text shadows */
.ts  { text-shadow:0 0 2px #888; }
.hts { text-shadow:0 0 2px #666; }

/* =box drop shadows */
.ds   {-webkit-box-shadow: 0 0 3px #888; -moz-box-shadow: 0 0 3px #888; box-shadow: 0 0 3px #888;}
.dslt {-webkit-box-shadow: 0 0 3px #ccc; -moz-box-shadow: 0 0 3px #ccc; box-shadow: 0 0 3px #ccc;}
.column-group .inner {box-shadow: 0px 0px 3px #888 inset;}

.hbox-ds {-webkit-box-shadow: -4px 0 4px -1px #888; -moz-box-shadow: -4px 0 4px -1px #888; box-shadow: -4px 0 4px -1px #888;}

/* =box gradients */
.hgrad-pale {
	background-color: #FFF;
	background-image:-webkit-linear-gradient(left center, #FFF, #FCFAE4);
	background-image:   -moz-linear-gradient(left center, #FFF, #FCFAE4);
	background-image:    -ms-linear-gradient(left center, #FFF, #FCFAE4);
	background-image:     -o-linear-gradient(left center, #FFF, #FCFAE4);
	background-image:        linear-gradient(left center, #FFF, #FCFAE4);
}

/* =transformation */
.skew {
	/* basic settings to be combined with .sk-[up|dn][1|2] to get the effect */
-webkit-transform-origin: 25% 100%;
   -moz-transform-origin: 25% 100%;
	-ms-transform-origin: 25% 100%;
	 -o-transform-origin: 25% 100%;
		transform-origin: 25% 100%;
-webkit-transform: translate(0px, -10px);
   -moz-transform: translate(0px, -10px);
    -ms-transform: translate(0px, -10px);
     -o-transform: translate(0px, -10px);
		transform: translate(0px, -10px);
}

.skew.sk-up1 {
-webkit-transform: rotate(-1.25deg);
   -moz-transform: rotate(-1.25deg);
    -ms-transform: rotate(-1.25deg);
     -o-transform: rotate(-1.25deg);
		transform: rotate(-1.25deg);
}
.skew.sk-up2 {
-webkit-transform: rotate(-2.5deg);
   -moz-transform: rotate(-2.5deg);
    -ms-transform: rotate(-2.5deg);
     -o-transform: rotate(-2.5deg);
		transform: rotate(-2.5deg);
}

.skew.sk-dn1 {
-webkit-transform: rotate(1.25deg);
   -moz-transform: rotate(1.25deg);
    -ms-transform: rotate(1.25deg);
     -o-transform: rotate(1.25deg);
		transform: rotate(1.25deg);
}
.skew.sk-dn2 {
-webkit-transform: rotate(2.5deg);
   -moz-transform: rotate(2.5deg);
    -ms-transform: rotate(2.5deg);
     -o-transform: rotate(2.5deg);
		transform: rotate(2.5deg);
}

/* =gradient-based "image tile" effects */
.carbon-fibre { /* http://leaverou.me/css3patterns/ */
	background-size:16px 16px;
	background:
	  -moz-radial-gradient(black 15%, transparent 16%) 0   0,
	  -moz-radial-gradient(black 15%, transparent 16%) 8px 8px,
	  -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0   1px,
	  -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
}

.carbon { /* http://leaverou.me/css3patterns/ */
	background-size: 20px 20px;
	background:
	  -moz-linear-gradient(63deg,  #151515 5px, transparent 5px)  0   5px,
	  -moz-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0,
	  -moz-linear-gradient(63deg,  #222222 5px, transparent 5px)  0  10px,
	  -moz-linear-gradient(243deg, #222222 5px, transparent 5px) 10px 5px,
	  -moz-linear-gradient(0deg,   #1b1b1b 10px, transparent 10px),
	  -moz-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
}

/* =supplemental property classes */
.prel {position:relative} .pabs {position:absolute}
.mt0 {margin-top:0}  .mr0 {margin-right:0}  .mb0 {margin-bottom:0}  .ml0 {margin-left:0}
.pt0 {padding-top:0} .pr0 {padding-right:0} .pb0 {padding-bottom:0} .pl0 {padding-left:0}
.bt0 {border-top:0}  .br0 {border-right:0}  .bb0 {border-bottom:0}  .bl0 {border-left:0}

/* .eof */
