/* grids.css */
.line:after,.lastUnit:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:"\A0\A0\A0";}
.line{float: none;*zoom:1;}

.unit{float:left;}
aside .unit{float: none !important; width: auto !important;}
@media print, screen and (max-width: 481px) {.unit{float: none !important; width: auto !important;}}

.size1of1{float:none;}
.size1of2,
.size2of4,
.size3of6 {width:50%;}

.size1of3 ,
.size2of6 {width:33.33333%;}
.size2of3 ,
.size4of6 {width:66.66666%;}

.size1of4 {width:25%;}
.size3of4 {width:75%;}

.size1of5 {width:20%;}
.size2of5 {width:40%;}
.size3of5 {width:60%;}
.size4of5 {width:80%;}

.size1of6 {width:16.66666%;}
.size5of6 {width:83.33333%;}

.lastUnit {display:table-cell;float:none;width:auto;*display:block;*zoom:1;_position:relative;_left:-3px;_margin-right:-3px;}

/* mod.css */
.mod {margin:10px;}
.mod .inner{/* background stuff goes here */}
.mod .inner,.bd,.ft{*zoom:1;}
.mod .inner:after,.hd:after,.bd:after,.ft:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x ";}
.inner{position:relative;}
b.top, b.top b, b.bottom, b.bottom b{display:block;background-repeat:no-repeat;font-size:1%;position:relative;z-index:10;}
.tl, .tr, .bl, .br{height:10px; width:10px;float:left;}
.tl{background-position: left top;}
.tr{background-position: right top;}
.bl{background-position: left bottom;}
.br{background-position: right bottom;}
.br,.tr{float:right;}
.tr,.tl{overflow:hidden;margin-bottom:-32000px;}/* margin bottom needs to be < -9px */
.bl,.br{margin-top:-10px;}
.mod .top{background-position:center top;}
.mod .bottom{background-position:center bottom;_zoom:1;}/* this zoom required for IE5.5 only*/

/* .mod.complex */
.complex{overflow:hidden;*position:relative;*zoom:1;}/* position/zoom required for IE7, 6, 5.5 */
.complex .tl, .complex .tr{height:32000px; margin-bottom:-32000px;width:10px;}
.complex .bl, .complex .br{/*margin-top:0;*/}
.complex .top{height:5px;}
.complex .bottom{height:5px;/*margin-top:-10px;*/}

/* .mod.pop */
.pop{overflow:visible;margin: 10px 20px 20px 10px; background-position:left top;}
.pop .inner{right:-10px; bottom:-10px; background-position:right bottom;padding:0 10px 10px 0;}
.pop .tl, .pop .br{display:none;}
.pop .bl{bottom:-10px;}
.pop .tr{right:-10px;}
