@media print {
	/* generated content */
	#logo a:after, #footer a:after, #dummy { content:""; display:none; }
	.actionsmenu,
	.column-group, .content_rating, .content_vote {display:none}

	/* defloat */
	.content-container .content-main,
	.content-container .column-group,
	#dummy
	{float:none;clear:both;width:auto;}
}
