
/* -- Layout -- */
.load-first {position:relative}

/* -- Sticky Footer -- *//*http://www.cssstickyfooter.com/*/
html, .sticky-footer{height:100%}
.sticky-footer #footer-push{min-height:100%}
.sticky-footer #footer{position:relative;clear:both}
.sticky-footer:before{content:"";height:100%;float:left;width:0;margin-top:-32767px}/*Opera Fix*/

.fluid-media img, .fluid-media object {max-width:100%}

/* -- Base Typography -- */
body{color:#333;line-height:1.6em;}
body.arial{font-family:Arial, Helvetica, sans-serif}
body.arial-black{font-family:Arial Black, Gadget, sans-serif}
body.courier{font-family:"Courier New", Courier, monospace}
body.georgia{font-family:Georgia, serif}
body.helvetica{font-family:Helvetica,Arial,FreeSans,sans-serif;}
body.impact{font-family:Impact, Charcoal, sans-serif}
body.lucida-console{font-family:"Lucida Console", Monaco, monospace}
body.lucida-grande{font-family:"Lucida Grande",Lucida,Verdana,sans-serif}
body.lucida-sans{font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif}
body.palatino{font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif}
body.tahoma{font-family:Tahoma, Geneva, sans-serif}
body.times{font-family:"Times New Roman", Times, serif}
body.trebuchet{font-family:"Trebuchet MS", Helvetica, sans-serif}
body.verdana{font-family:Verdana, Geneva, sans-serif}

h1{font-size:2em;font-weight:normal}
h2{font-size:1.7em;font-weight:normal}
h3{font-size:1.4em;font-weight:normal}
h4{font-size:1.2em;font-weight:bold}
h5{font-size:1.0em;font-weight:bold}
h6{font-size:0.8em;font-weight:bold}
h1,h2,h3,h4,h5,h6{margin:.3em 0}
h3+ul, h3+ol {margin-top:-.3em}

input.button{padding:0 10px}

table.category {border:1px solid #000}
.category thead {background:#333}
.category thead a {color:#fff}
.category tbody tr:hover{background:#dddddd}
.category td{padding:5px}
.cat-list-row0 {background:#eeeeee}
.cat-list-row1 {}
.category th img {padding-left:5px}
.contact{margin:10px 0}
.contact label{float:left;width:12em;margin:10px 0 0}
.contact form{padding:20px;margin:10px 0}
.contact input{padding:2px 2px 0;margin:10px 0 0}
.contact #contact-email-copy {position:relative;top:4px;}
.content_vote{margin:0 0 10px;display:block}
.content_vote input{margin:0 5px}
.content_vote .button{border:0;font-weight:bold;margin:20px 10px 0 0;padding:0 0 0 30px;cursor:pointer} 

.date-container {float:right}
.date-weekday, .date-month, .date-day, .date-year {/* intentionally left blank */}

.edit legend{font-size:1.2em;font-weight:bold;padding:2px}
.edit fieldset{border:solid 1px #ccc;padding:20px;margin:10px 0}
.edit .formelm label {display:inline-block;vertical-align:top;width:12em;}
.edit .formelm #jform_description-lbl {float:none;display:block}
.edit .formelm .radio label{float:none;width:14em}
.edit .formelm .radio label span{float:left;width:14em}
.edit .formelm-area label{float:none !important;display:block;font-weight:bold}
.even {background:#eeeeee}
ol.form{float:left; list-style:none; width:100%}
ol.form li{clear:both;float:left;margin:0 0 10px;width:100%;position:relative}
ol.form label{cursor:pointer;display:block;font-weight:bold;margin:0 10px 0 0}
ol.form input, 
ol.form textarea{font:inherit;padding:2px}
ol.form textarea{height:250px}
ol.form li.group label{margin:0; width:auto}
ol.form li.group{margin-bottom:0}
ol.form li.group ul{list-style:none; margin-left:100px}
ol.form li.group ul label{display:inline;float:none;font-weight:normal;margin:0 0 0 10px;width:auto}
ol.form li.group ul input{width:auto}
ol.form li.button button{margin:0 auto;display:block}
ol.form li.checkbox {float:left;width:10px}
ol.form span.error{position:absolute;top:0;right:0}
input.invalid,
textarea.invalid{border:solid 2px #ff0000}
label.invalid{color:#ff0000;font-weight:bold}
.login-fields {padding:0 0 5px 0}
.login-fields label{cursor:pointer;display:block;float:left;margin:0 10px 0 0;min-width:90px}
.outline{border:1px solid #ccc;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:5px;margin:5px}
.pagination{margin:10px 0 0;padding:10px 0}
.pagination{list-style-type:none;margin:0;padding:0}
.pagination li{display:inline;margin:0;padding:2px 5px 0 0}
.pagenav li {margin:0}
.pagenav-next {text-align:right}

/* -- generic classes and effects -- */
.left {float:left}
.right{float:right}
.rounded {-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:5px;margin:5px}
.drop-shadow{-webkit-box-shadow:2px 2px 6px rgba(0,0,0,0.6); -moz-box-shadow:2px 2px 6px rgba(0,0,0,0.6); box-shadow:2px 2px 6px rgba(0,0,0,0.6); padding:5px;margin:5px}
.invisible{position:absolute;display:inline;width:0;height:0;left:-1000px;top:-1000px;overflow:hidden;}

/* Font colors should be as abstract as possible.
 * This allows us using any skins we like without modifying classes
 * Use .firm class for unique color of the project (like orange in this example)
 * Use .positive, .negative to style only relative information (like system messages or feedback, etc)
 */
.bare		{color: #bbb;}
.pale		{color: #999;}
.neutral	{color: #666;}
.opaque		{color: #333;}
.sharp		{color: #000;}
.contrast	{color: #fff;}
.firm		{color: #fc6c06;}
.positive	{color: #73ab00;}
.negative	{color: #c20000;}

.search {float:left}
.search .only {border:solid 1px #ccc;margin:10px 0 10px 10px;padding:5px 10px 13px;line-height:1.3em}
.search .phrases .inputbox{display:block;height:1.5em;margin-top:10px;width:12em}
.search .phrases option{border-bottom:solid 1px #333;padding:2px}
.search .phrases a:hover{background:#C00;border-color:#CFD0D6;color:#fff}
.search input{padding:3px 5px}
.search .word {padding:10px 10px 10px 0;border:solid 0 !important}		
.search .word input {border:1px solid #ccc;margin:0 0 0 10px;padding:2px}
.tip {float:left;background:#ffc;border:1px solid #D4D5AA;padding:5px;max-width:400px;z-index:50;-webkit-box-shadow:5px 5px 10px rgba(0,0,0,0.6);-moz-box-shadow:5px 5px 10px rgba(0,0,0,0.6);box-shadow:5px 5px 10px rgba(0,0,0,0.6)}
.tip-title {padding:0;margin:0;font-size:1em;font-weight:bold;margin-top:-15px;padding-top:15px;padding-bottom:5px;background:url(../images/selector-arrow.png) no-repeat;}
.tip-text {font-size:1em;margin:0}

/* #access{float:left;clear:left} */
#access{float:left;clear:left}

#breadcrumbs{margin:0 0 1em;padding:0}
#breadcrumbs span{font-size:0.9em;padding:7px}

#content-top {padding-bottom:15px}
#editor-xtd-buttons{background:#efefef;margin-top:1em}
#diagnostics {float:right;clear:right}

#footer {text-align:center;}
#footer .menu, #footer .menu li {display:inline;list-style:none;margin:0;padding:0;}
#footer .menu li a, #footer .menu a:visited {font-weight:normal;padding:1px 3px;text-decoration:none;}

#form-login label{cursor:pointer;display:block;margin:0 10px 0 0;width:120px}
#form-login-remember label {float:left}
#form-login ul li {margin-left:0}

#header{margin:0;text-align:left}
#logo {float:left;margin:0}
#logo a {display:block;width:300px;height:100px;text-decoration:none;}
#logo a:focus{outline:none}

#siteinfo-legal{text-align:left;width:500px;margin:0 auto}	

#style-switch{list-style-type:none;float:right;clear:right}

.syndicate {position:absolute;left:20px}

#system-message dt{display:none}
#system-message dd{clear:both;padding:5px 0;text-align:left;border-top:2px solid;}
#system-message dd:after{clear:both;content:".";font:1px/0;display:block;height:0;visibility:hidden}
#system-message dd ul li{list-style:none}
#system-message dd.message{color:#0055BB;background:#C3D2E5;border-color:#84A7DB}
#system-message dd.message ul{margin-bottom:0}
#system-message dd.warning{color:#F00;background:#FBAD18;border-color:#F57E20}
#system-message dd.warning ul{margin-bottom:0}
#system-message dd.error{color:#F00;background:#FBEEF1;border-color:#FEABB9}

/* -- Menu CSS -- */
#nav {z-index:277;}

/* suckerfish functionality */
.menu li:hover ul ul,
.menu li.pie_hover ul ul {left:-999em}
.menu li:hover ul,
.menu li.pie_hover ul {left:auto}

.column-group .menu    ,
.column-group .menu ul ,
.column-group .menu ol {display:block;width:100%;margin:0}
.column-group .menu li {width:100%;margin:0}

/* -- Preview Module Styles for use with index.php?tp=1 -- */
.mod-preview{position:relative}
.mod-preview-wrapper{border:1px solid #ccc;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;-webkit-box-shadow:2px 2px 6px rgba(0,0,0,0.6); -moz-box-shadow:2px 2px 6px rgba(0,0,0,0.6); box-shadow:2px 2px 6px rgba(0,0,0,0.6); padding:5px 10px;margin:5px 0;opacity:0.9;background:#666;z-index:999;min-height:50px}
.mod-preview-wrapper div.moduletable, .mod-preview-wrapper div.moduletable_menu, .mod-preview-wrapper div.moduletable_text, .mod-preview-wrapper ul.menu, .mod-preview-wrapper #breadcrumbs{opacity:0}
.mod-preview-info{color:#fff;background:none;border:none;z-index:999;position:absolute;left:5px;top:5px;font-family:BebasNeueRegular;font-size:2em}
#left .mod-preview-wrapper,
#left2 .mod-preview-wrapper,
#right .mod-preview-wrapper,
#right2 .mod-preview-wrapper{height:940px}

/* .eof */
