/*!
 * screen.css
 * @version 1.9.5
 */

/* =Layout */
.page-head {margin:0;text-align:left}
.content-main {position:relative}

.fluid-media img, .fluid-media object, .fluid-media video {max-width:100%}
.fluid-media img {-ms-interpolation-mode:bicubic}

h1,.H1 {font-size:2.0em}
h2,.H2 {font-size:1.7em}
h3,.H3 {font-size:1.4em}
h4,.H4 {font-size:1.2em}
h5,.H5 {font-size:1.1em}
h6,.H6 {font-size:1.0em}

h3+ul, h3+ol {margin-top:-.3em}

table.data {border:1px solid #000}
.data thead {background:#333;color:#fff}
.data thead a {color:inherit}
.data tbody tr:hover {background:#dddddd}
.data td {padding:5px}

/* prevent ugly line-breaks. apply scoped to [thead|tbody|tfoot|tr] with tr.compact */
.data .compact th {overflow:hidden;text-overflow:ellipsis}

.pagination {margin-left:auto;margin-right:auto}
.pagination li.mi {display:inline;margin:.4ex;padding:0}
p.counter b, .pagination span.mi {padding:.2ex .4em}

.pagenav li {display:inline;margin:3px;padding:0}

.actionsmenu {}
.actionsmenu li.mi {}
.actionsmenu span.mi {}

.footer .menu, .footer .menu li {display:inline-block;list-style:none;margin:0;padding:0}
.footer .menu li a, .footer .menu a:visited {font-weight:normal;padding:1px 3px;text-decoration:none}

/* =supplementals */
.date-container {float:right}
.date-weekday, .date-month, .date-day, .date-year {/* intentionally left blank */}

/* =generic classes and effects */
.rounded,.outline {border-radius:10px;padding:5px;margin:5px}
.outline {border:1px solid #ccc}

/* =font colors should be as abstract as possible.
 * This allows us using any skins we like without modifying classes
 * Use .firm class for unique color of the project (like orange in this example)
 * Use .positive, .negative to style only relative information (like system messages or feedback, etc)
 */
.bare		{color:#bbb}
.pale		{color:#999}
.neutral	{color:#666}
.opaque		{color:#333}
.sharp		{color:#000}
.contrast	{color:#fff}
.firm		{color:#fc6c06}
.positive	{color:#73ab00}
.negative	{color:#c20000}

/* =background colors, ought to be combined with a (generic) font color class */
.bare-bg		{background-color:#bbb}
.pale-bg		{background-color:#999}
.neutral-bg		{background-color:#666}
.opaque-bg		{background-color:#333}
.sharp-bg		{background-color:#000}
.contrast-bg	{background-color:#fff}
.firm-bg		{background-color:#fc6c06}
.positive-bg	{background-color:#73ab00}
.negative-bg	{background-color:#c20000}

/* =border colors */
.bare-bd		{border-color:#bbb}
.pale-bd		{border-color:#999}
.neutral-bd		{border-color:#666}
.opaque-bd		{border-color:#333}
.sharp-bd		{border-color:#000}
.contrast-bd	{border-color:#fff}
.firm-bd		{border-color:#fc6c06}
.positive-bd	{border-color:#73ab00}
.negative-bd	{border-color:#c20000}

/*
.tip {float:left;background:#ffc;border:1px solid #D4D5AA;padding:5px;max-width:400px;z-index:50;-webkit-box-shadow:5px 5px 10px rgba(0,0,0,0.6);-moz-box-shadow:5px 5px 10px rgba(0,0,0,0.6);box-shadow:5px 5px 10px rgba(0,0,0,0.6)}
.tip-title {padding:0;margin:0;font-size:1em;font-weight:bold;margin-top:-15px;padding-top:15px;padding-bottom:5px;background:url(../images/selector-arrow.png) no-repeat}
.tip-text {font-size:1em;margin:0}
*/

/* .eof */
