@font-face {
  font-family: 'UnifrakturMaguntia::Menu';
  font-style: normal;
  font-weight: normal;
  src: local('UnifrakturMaguntia'), url('http://themes.googleusercontent.com/font?kit=7KWy3ymCVR_xfAvvcIXm36GFIWkwwX3HuM8roXgtD7g') format('woff');
}
@font-face {
  font-family: 'Unkempt::Menu';
  font-style: normal;
  font-weight: normal;
  src: local('Unkempt'), url('http://themes.googleusercontent.com/font?kit=2fiIOvGvUvhdOg4U8rpkxg') format('woff');
}
@font-face {
  font-family: 'VT323::Menu';
  font-style: normal;
  font-weight: normal;
  src: local('VT323'), url('http://themes.googleusercontent.com/font?kit=GpNC_h3w1h5_jEng1_YqVg') format('woff');
}
@font-face {
  font-family: 'Varela::Menu';
  font-style: normal;
  font-weight: normal;
  src: local('Varela'), url('http://themes.googleusercontent.com/font?kit=j-fXnlGyOf4H9A9Rcry9kg') format('woff');
}
@font-face {
  font-family: 'Vibur::Menu';
  font-style: normal;
  font-weight: normal;
  src: local('Vibur'), url('http://themes.googleusercontent.com/font?kit=HD5WQ2A_I9FqbWl9gCyU6A') format('woff');
}
@font-face {
  font-family: 'Vollkorn::Menu';
  font-style: normal;
  font-weight: normal;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url('http://themes.googleusercontent.com/font?kit=rU7EMjjC0m87qY-M4N8od_esZW2xOQ-xsNqO47m55DA') format('woff');
}
@font-face {
  font-family: 'Waiting for the Sunrise::Menu';
  font-style: normal;
  font-weight: normal;
  src: local('Waiting for the Sunrise'), local('WaitingfortheSunrise'), url('http://themes.googleusercontent.com/font?kit=eNfH7kLpF1PZWpsetF-ha5TXV-QLlL41jeUC134b1gQ') format('woff');
}
@font-face {
  font-family: 'Wallpoet::Menu';
  font-style: normal;
  font-weight: normal;
  src: local('Wallpoet'), url('http://themes.googleusercontent.com/font?kit=dLhgEgeJPRhLD96tFAR5Q_esZW2xOQ-xsNqO47m55DA') format('woff');
}
@font-face {
  font-family: 'Walter Turncoat::Menu';
  font-style: normal;
  font-weight: normal;
  src: local('Walter Turncoat'), local('WalterTurncoat'), url('http://themes.googleusercontent.com/font?kit=sG9su5g4GXy1KP73cU3hvUzhOdsa5RJc9SVV39j_Hn8') format('woff');
}
@font-face {
  font-family: 'Wire One::Menu';
  font-style: normal;
  font-weight: normal;
  src: local('Wire One'), local('WireOne'), url('http://themes.googleusercontent.com/font?kit=bfQme3tB5lroBTj0ihRpxvesZW2xOQ-xsNqO47m55DA') format('woff');
}
@font-face {
  font-family: 'Yanone Kaffeesatz::Menu';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url('http://themes.googleusercontent.com/font?kit=YDAoLskQQ5MOAgvHUQCcLcMrjAgIIaPEfOs06yAU58s') format('woff');
}
@font-face {
  font-family: 'Zeyada::Menu';
  font-style: normal;
  font-weight: normal;
  src: local('Zeyada'), url('http://themes.googleusercontent.com/font?kit=iapNeG9Gf6vDZXCipnbq9w') format('woff');
}
