<div class="mqtest">
<!--
CSS3 media query screen width test.
Use with supplemental /core/css/mqtest.css
Support: FF3.5+, OP7+, SF3+, CR und IE9+
min/max
 x	x	width
 x	x	height
 x	x	device-width
 x	x	device-height
		orientation
 x	x	aspect-ratio
 x	x	device-aspect-ratio
 x	x	color
 x	x	color-index
 x	x	monochrome	(bits per pixel = min-monochrom:2 ~ 'devices with more than 2 bits per pixels')
 x	x	resolution

 IE9 media types: all,screen,print
 -->
	<kbd class="w300">300</kbd>		<kbd class="w350">350</kbd>
	<kbd class="w400">400</kbd>		<kbd class="w450">450</kbd>
	<kbd class="w500">500</kbd>		<kbd class="w550">550</kbd>
	<kbd class="w600">600</kbd>		<kbd class="w650">650</kbd>
	<kbd class="w700">700</kbd>		<kbd class="w750">750</kbd>
	<kbd class="w800">800</kbd>		<kbd class="w850">850</kbd>
	<kbd class="w900">900</kbd>		<kbd class="w950">950</kbd>
	<kbd class="w1000">1000</kbd>	<kbd class="w1050">1050</kbd>
	<kbd class="w1100">1100</kbd>	<kbd class="w1150">1150</kbd>
	<kbd class="w1200">1200</kbd>	<kbd class="w1250">1250</kbd>
	<kbd class="w1200">1300</kbd>	<kbd class="w1250">1350</kbd>
	<kbd class="w1200">1400</kbd>	<kbd class="w1250">1450</kbd>
	<kbd class="w1200">1500</kbd>	<kbd class="w1250">1550</kbd>
	<kbd class="w1200">1600</kbd>	<kbd class="w1250">1650</kbd>
</div>
