/*
 * =CSS3 fx classes
 */

/* =box gradients */
.hgrad-pale {
	background-color: #FFF;
	background-image:-webkit-linear-gradient(left center, #FFF, #FCFAE4);
	background-image:   -moz-linear-gradient(left center, #FFF, #FCFAE4);
	background-image:    -ms-linear-gradient(left center, #FFF, #FCFAE4);
	background-image:     -o-linear-gradient(left center, #FFF, #FCFAE4);
	background-image:        linear-gradient(left center, #FFF, #FCFAE4);
}

/* =gradient-based "image tile" effects */
.carbon-fibre { /* http://leaverou.me/css3patterns/ */
	background-size:16px 16px;
	background:
	  -moz-radial-gradient(black 15%, transparent 16%) 0   0,
	  -moz-radial-gradient(black 15%, transparent 16%) 8px 8px,
	  -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0   1px,
	  -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
}

.carbon { /* http://leaverou.me/css3patterns/ */
	background-size: 20px 20px;
	background:
	  -moz-linear-gradient(63deg,  #151515 5px, transparent 5px)  0   5px,
	  -moz-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0,
	  -moz-linear-gradient(63deg,  #222222 5px, transparent 5px)  0  10px,
	  -moz-linear-gradient(243deg, #222222 5px, transparent 5px) 10px 5px,
	  -moz-linear-gradient(0deg,   #1b1b1b 10px, transparent 10px),
	  -moz-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
}
